<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>

<button class="create-redirect btn btn-default"> Create </button>

{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo"> 
  <div class="row">
  <div class="col-md-2">
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
    {{ memo.text }}
  </div>
  <!-- identify each memo by mongo id -->
  <!-- Docs: http://bootstrapdocs.com/v3.0.3/docs/css/#forms -->
  <button class='delete-button btn btn-default' value="{{memo.token}}"> Delete </button>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

 

</div> <!-- container -->
</body>

<script>
  // On press of create button, redirect to creation page
  $(".create-redirect").click(function() {
    window.location.assign("/create");
  });

  $(".delete-button").click(function() {
    // Send server the id of memo to be deleted from db. Handle with
    // delete route. No response needed - div containing memo updated below.
    // Reference on existence of attr(): https://stackoverflow.com/questions/3239598/how-can-i-get-the-id-of-an-element-using-jquery
    $.getJSON("/delete", {"id": $(this).attr("value")});

    // Remove all div elements up to div of class "memo". Then remove button
    // Reference: https://api.jquery.com/parents/
    $(this).parents(".memo").remove();
    $(this).remove();
  })


</script>

</html>
